.chat-header {
  background-color: #2979ff;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.chat-header__title {
  margin: 0;
  display: inline-block;
  color: #fff;
  padding-right: 5px;
  font-size: 20px;
}